{% extends "/layout/default.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="register">
	<h2>Passer une commande</h2>
	<div class="login-page">
		<div class="form">
			<table>
				<thead>
					<tr>
						<th>Nomination</th>
						<th>Prix HT</th>
						<th>Prix TTC</th>
						<th>Quantité</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<form method="POST" action="/shop/confirmation" id="formPurchase" class="form">
						{% for line in lines %}
						<tr id="test{{ line.line_id }}">
							<td>{{ line.title }}</td>
							<td id="PHT_{{ line.beer_id }}">{{ line.priceHT| number_format(2, '.', ',') }}€</td>
							<td id="PTTC_{{ line.beer_id }}">{{ (line.priceHT * 1.2) | number_format(2, '.', ',') }}€</td>
							<td id="line{{ line.beer_id }}">{{ line.beerQTY }}<input type="hidden" name="qty_id[{{ line.beer_id }}]" value="{{ line.beer_id }}"/></td>
							<td><input class="" type="number" min="0" name="qty[{{ line.beer_id }}]" value="0" oninput="calcPrice(this, {{ line.beer_id }}, {{ line.priceHT }})" /></td>
							<input type="hidden" name="beer_id{{ line.beer_id }}" value="{{ line.beer_id }}"/>
							<td><button class="" type="button" onclick="upBasket({{line.beer_id}})"><i class="fas fa-plus-circle"></i></button></td>
							<td><button class="" type="button" onclick="lessBasket({{line.beer_id}}, {{line.line_id}})"><i class="fas fa-minus-circle"></i></button></td>
							<td><button class="" type="button" onclick="deleteLine({{line.line_id}})">Retirer</button></td>
						</tr>
						{% endfor %}
					</form>
				</tbody>
			</table>
			{% if user %}
			<form action="/shop/confirmation">
				<button type="submit">COMMANDER</button>
			</form>
			{% else %}
				<p>Inscrivez-vous pour pouvoir commander !</p>
			{% endif %}
		</div>
	</div>
</section>
<script src="/assets/js/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}