{% extends "/layout/default.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="register">
	<h2>Passer une commande</h2>
	<div class="login-page">
		<div class="form">
			<form class="login-form" method="POST" action="" id="formPurchase">
				<div class="form_row">
					<input type="text" name="lastname" value="{{ user.lastname }}" placeholder="Prénom" required/>
					<input type="text" name="firstname" value="{{ user.firstname }}" placeholder="Nom" required/>
				</div>
				<div class="form_row">
					<input type="text" name="address" value="{{ user.address }}" placeholder="Adresse" required/>
					<input type="text" name="zipCode" value="{{ user.zipCode }}" placeholder="Code Postal" required/>
				</div>
				<div class="form_row">
					<input type="text" name="city" value="{{ user.city }}" placeholder="Ville" required/>
					<input type="text" name="country" value="{{ user.country }}" placeholder="Pays" required/>
				</div>
				<div class="form_row">
					<input type="tel" name="phone" value="{{ user.phone }}" placeholder="Téléphone" required/>
				</div>
				<div class="form_row">
					<input type="email" name="mail" value="{{ user.mail }}" placeholder="Email" disabled/>
				</div>
				<table>
					<thead>
						<tr>
							<th>Nomination</th>
							<th>Prix HT</th>
							<th>Prix TTC</th>
							<th>Quantité</th>
						</tr>
					</thead>
					<tbody>
						{% for beer in beers %}
							<tr>
								<td>{{ beer.name }}</td>
								<td id="PHT_{{ beer.id }}">{{ beer.price | number_format(2, ',', '.') }}€</td>
								<td id="PTTC_{{ beer.id }}">{{ (beer.price * 1.2)  | number_format(2, ',', '.')}}€</td>
								<td><input type="number" min="0" name="qty[{{ beer.id }}]" value="0" oninput="calcPrice(this, {{ beer.id }}, {{ beer.price }});" /></td>
							</tr>
						{% endfor %}
					</tbody>
					{# <tfoot>
						<tr>
							<th>Total</th>
							<th colspan="3" id="totaux"></th>
						</tr>
					</tfoot> #}
					
				</table>
				{% if user %}
				<button type="submit">COMMANDER</button>
				{% else %}
					<button type="submit" disabled>COMMANDER</button>
					<p>Inscrivez-vous pour pouvoir commander !</p>
				{% endif %}
			</form>
		</div>
	</div>
</section>
	<script src="/assets/js/scripts.js"></script>
{% endblock %}