{% extends "/layout/default.twig" %}

{% block content %}
<section class="page-cat">
    <h2>{{ title }}</h2>
    <section class="cat-acc">
    {% for category in categories %}
        {% for key, posts in postsByCateg %}
            {% if category.id == key %}
            {# <li><a href="{{ category.url }}">{{ category.name }}</a></li> #}
                <button class="accordion">
                        <div class="article-title">
                            <h2>{{ category.name }}</h2>
                        </div>
                </button>
                <div class="panel">
                    <div class="image">
                        <img src="https://picsum.photos/500/300?random=1" alt="random picture">
                    </div>
            {% for post in posts %}
                    <article class="best">
                        <div class="best-one">
                            <div class="best-img">
                                <img src="https://picsum.photos/100/100?random=2">
                            </div>
                            <div class="best-content">
                                <h3>{{ post.name }}</h3>
                                <p class="best-text">{{ post.content | slice(0, 200)}}</p>
                                <a href="{{ post.url }}">Read more...</a>
                            </div>
                        </div>
                    </article>
            {% endfor %}
                    <p><a href="{{ category.url }}">Tous les articles...</a></p>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </section>
</section>
{{ paginate | raw }}
<script src="/assets/js/scripts.js"></script>
{% endblock %}