{% extends "/layout/default.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="profile">
	<h2>Bienvenue, {{ user.firstname }}!</h2>

	<article class="order-user">
		<h3>Votre historique de commandes</h3>
		<div class="order-list">
        {% if orders is empty %}
            <p>Aucune commande passée</p>
        {% else %}
            <ul>
			{% for order in orders %}
				<li><a href="{{ order.url }}">Commande n°{{ order.id }}</a></li>
			{% endfor %}
			</ul>
        {% endif %}
			
		</div>
	</article>
</section>

<section class="register">
<h2>Modifier vos infos personnelles</h2>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="POST" action="" id="formPurchase">
            <div class="form_row">
                <input type="text" name="lastname" value="{{ user.lastname }}" required/>
                <input type="text" name="firstname" value="{{ user.firstname }}" required/>
            </div>
            <div class="form_row">
                <input type="text" name="address" value="{{ user.address }}" required/>
                <input type="text" name="zipCode" value="{{ user.zipCode }}" required/>
            </div>
            <div class="form_row">
                <input type="text" name="city" value="{{ user.city }}" required/>
                <input type="text" name="country" value="{{ user.country }}" required/>
            </div>
            <div class="form_row">
                <input type="tel" name="phone" value="{{ user.phone }}" required/>
            </div>
            <div class="form_row">
                <input type="email" name="mail" value="{{ user.mail }}" readonly/>
            </div>
			<input type="hidden" name="id" value="{{ user.id }}" />
            <button type="submit">Modifier</button>
        </form>
    </div>
</div>

<h2>Modifier votre mot de passe</h2>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="POST" action="" id="formPurchase">
            <div class="form_row">
                <input type="text" name="passwordOld" placeholder="Ancien mot de passe" required/>
            </div>
            <div class="form_row">
                <input type="text" name="password" placeholder="Nouveau mot de passe" required/>
                <input type="text" name="passwordVerify" placeholder="Retaper nouveau mot de passe" required/>
            </div>
            <div class="form_row">
                <input type="hidden" name="mail" value="{{ user.mail }}" readonly/>
            </div>
			<input type="hidden" name="id" value="{{ user.id }}" />
            <button type="submit">Modifier</button>
        </form>
    </div>
</div>

</section>

{% endblock %}